<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div>
            <h3><%= data.name%></h3>
            <img src="<%= data.img%>" alt="">
            <h4><%= data.level%></h4>
            <form action="/delete/<%= data.id%>?_method=delete" method="POST">
                <button>Delete</button>
            </form>
            <button>Update</button>
        </div>  
        <form action="/update/<%=data.id%>?_method=put" method="POST">
            <input type="text" name="name" value="<%= data.name%>" placeholder="<%= data.name%>">
            <input type="text" name="img" value="<%= data.img%>" placeholder="<%= data.img%>">
            <input type="text" name="level" value="<%= data.level%>" placeholder="<%= data.level%>">
            <button type ='submit'>Cofitm update</button>
        </form>
    </section>
    
</body>
</html>